__pycache__
*.pyc
*.pyo
*.pyd
.Python
**/.env
**/.aws
**/.git
**/.gitignore
**/.vscode
**/.ssh
**/env
**/venv
Dockerfile
docker-compose.yaml
docker-compose-local.yaml
README.md
**/.DS_Store
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
../.venv/
.venv/
